/* line 2, ../../../../../Users/askie/Desktop/work/web/todo/js-version/sass/modules/_header.scss */
header h1 {
  text-align: center;
  color: #1d5555;
  padding: .25em 0;
}

/* line 3, ../../../../../Users/askie/Desktop/work/web/todo/js-version/sass/modules/_create.scss */
.create {
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
}
/* line 8, ../../../../../Users/askie/Desktop/work/web/todo/js-version/sass/modules/_create.scss */
.create h2 {
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
}
/* line 12, ../../../../../Users/askie/Desktop/work/web/todo/js-version/sass/modules/_create.scss */
.create .addInput {
  border: 0;
  border-bottom: 1px solid #ccc;
  background: #f5f5f8;
  border-radius: 0;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  padding: .5rem 0;
  font-size: 1.15rem;
}
/* line 21, ../../../../../Users/askie/Desktop/work/web/todo/js-version/sass/modules/_create.scss */
.create .addInput:focus {
  border-color: #588B8B;
}

/* line 3, ../../../../../Users/askie/Desktop/work/web/todo/js-version/sass/modules/_task.scss */
.tasks {
  background: #fff;
  padding: 1rem;
}

/* line 8, ../../../../../Users/askie/Desktop/work/web/todo/js-version/sass/modules/_task.scss */
.task {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
/* line 12, ../../../../../Users/askie/Desktop/work/web/todo/js-version/sass/modules/_task.scss */
.task__checkbox {
  border: 1px solid #ccc;
  border-radius: 7px;
  -ms-flex-preferred-size: 25px;
  flex-basis: 25px;
  height: 25px;
  margin-right: 10px;
  cursor: pointer;
}
/* line 21, ../../../../../Users/askie/Desktop/work/web/todo/js-version/sass/modules/_task.scss */
.task__content {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  border-radius: 0;
  border-color: transparent;
  color: #666;
  font-size: 1.1rem;
}
/* line 28, ../../../../../Users/askie/Desktop/work/web/todo/js-version/sass/modules/_task.scss */
.task__content:hover {
  border-bottom-color: #ddd;
}
/* line 32, ../../../../../Users/askie/Desktop/work/web/todo/js-version/sass/modules/_task.scss */
.task__content:focus {
  border-bottom-color: #588B8B;
}
/* line 37, ../../../../../Users/askie/Desktop/work/web/todo/js-version/sass/modules/_task.scss */
.task__button {
  padding: .5rem .75rem;
}
/* line 41, ../../../../../Users/askie/Desktop/work/web/todo/js-version/sass/modules/_task.scss */
.task__edit {
  color: #fff;
  background: #588B8B;
  border-color: #588B8B;
}
/* line 46, ../../../../../Users/askie/Desktop/work/web/todo/js-version/sass/modules/_task.scss */
.task__edit:hover {
  background: #4e7b7b;
  border-color: #4e7b7b;
}
/* line 52, ../../../../../Users/askie/Desktop/work/web/todo/js-version/sass/modules/_task.scss */
.task__delete {
  color: #fff;
  background: #C8553D;
  border-color: #C8553D;
}
/* line 57, ../../../../../Users/askie/Desktop/work/web/todo/js-version/sass/modules/_task.scss */
.task__delete:hover {
  background: #b74b34;
  border-color: #b74b34;
}

/* line 64, ../../../../../Users/askie/Desktop/work/web/todo/js-version/sass/modules/_task.scss */
.task + .task {
  margin-top: 10px;
}

/* line 69, ../../../../../Users/askie/Desktop/work/web/todo/js-version/sass/modules/_task.scss */
.finished .task__content {
  color: #ccc;
  text-decoration: line-through;
  cursor: pointer;
}
/* line 75, ../../../../../Users/askie/Desktop/work/web/todo/js-version/sass/modules/_task.scss */
.finished .task__checkbox {
  position: relative;
}
/* line 78, ../../../../../Users/askie/Desktop/work/web/todo/js-version/sass/modules/_task.scss */
.finished .task__checkbox::after {
  content: 'V';
  position: absolute;
  color: #666;
  left: 30%;
}


