html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

body, div, p, ul, h1, h2, h3, h4 {
  margin: 0;
}

h2 {
  margin: 20px auto 5px;
  font-size: 1rem;
}
@media all and (max-width: 768px) {
  h2 {
    margin-top: 10px;
  }
}

a {
  color: #588B8B;
}
a:hover {
  color: #446c6c;
}

input {
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: .5rem;
  outline: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

input + input {
  margin-left: 10px;
}

input[type="button"], input[type="submit"] {
  cursor: pointer;
}

.wrapper {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: #eef4f4;
}
.wrapper .mainBody {
  background: #f5f5f8;
  width: 75%;
  max-width: 576px;
  padding: 20px;
  border-radius: 5px;
  -webkit-box-shadow: 0px 10px 20px #ddd;
  box-shadow: 0px 10px 20px #ddd;
}
@media all and (max-width: 768px) {
  .wrapper .mainBody {
    width: 95%;
    padding: 10px;
  }
}
.wrapper .globalHeader {
  padding: 10px 0;
}
.wrapper ul {
  list-style-type: none;
  padding-left: 0;
  font-size: 0;
  text-align: center;
}
.wrapper ul li {
  display: inline-block;
}
.wrapper ul li + li {
  border-left: 1px solid #ccc;
}
.wrapper ul a {
  text-decoration: none;
  font-size: .8rem;
  margin: 0 .75rem;
  padding: .25rem;
}
.wrapper ul a.active {
  color: #f08123;
  font-weight: 700;
}
.wrapper footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 10px 0;
}
.wrapper footer .copyRight {
  font-size: .8rem;
  color: #666;
  margin-right: .5em;
}

header h1 {
  text-align: center;
  color: #4e7b7b;
  padding: .25em 0;
}

.create {
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
}
.create h2 {
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
}
.create h2 .msgBox {
  color: #C8553D;
  margin-left: 1em;
  font-size: .9rem;
}
.create .addInput {
  border: 0;
  border-bottom: 1px solid #ccc;
  background: #f5f5f8;
  border-radius: 0;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  padding: .5rem 0;
  font-size: 1.15rem;
}
.create .addInput:focus {
  border-color: #588B8B;
}

.tasks {
  background: #fff;
  padding: 1rem;
  text-align: center;
  color: #588B8B;
  max-height: 200px;
  overflow: auto;
}
@media all and (max-width: 768px) {
  .tasks {
    padding: .5rem;
    max-height: 150px;
  }
}

.task {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.task__checkbox {
  border: 1px solid #ccc;
  border-radius: 7px;
  -ms-flex-preferred-size: 25px;
  flex-basis: 25px;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  height: 25px;
  margin-right: 10px;
  cursor: pointer;
}
.task__content {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  border-radius: 0;
  border-color: transparent;
  color: #333;
  font-size: 1.1rem;
  text-align: left;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.task__content:hover {
  border-bottom-color: #ddd;
}
.task__content:focus {
  border-bottom-color: #588B8B;
}
.task__button {
  padding: .5rem .75rem;
}
.task__submit {
  color: #fff;
  background: #588B8B;
  border-color: #588B8B;
}
.task__submit:hover {
  background: #4e7b7b;
  border-color: #4e7b7b;
}
.task__edit {
  color: #588B8B;
  border-color: #588B8B;
}
.task__edit:hover {
  color: #fff;
  background: #4e7b7b;
  border-color: #4e7b7b;
}
.task__delete {
  color: #C8553D;
  border-color: #C8553D;
  background: #fff;
}
.task__delete:hover {
  color: #fff;
  background: #b74b34;
  border-color: #b74b34;
}

.task + .task {
  margin-top: 10px;
}

.finished .task__content {
  color: #ccc;
  text-decoration: line-through;
  cursor: pointer;
}
.finished .task__checkbox {
  position: relative;
}
.finished .task__checkbox::after {
  content: '\f00c';
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  color: #588B8B;
  left: 30%;
}


