@import '../../assets/sass/modules/_colors.scss';

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 0;

  .copyRight {
    font-size: 0.8rem;
    color: $darkGray-2;
    margin-right: 0.5em;
  }
}
