@import '../../../assets/sass/modules/_colors.scss';

.create {
  margin-bottom: 20px;
  display: flex;
  flex-flow: row wrap;

  h2 {
    flex-basis: 100%;
    font-weight: 500;
    .msgBox {
      color: $tomato;
      margin-left: 1em;
      font-size: 0.9rem;
    }
  }

  .addInput {
    border: 0;
    border-bottom: 1px solid $lightGray-2;
    background: #f5f5f8;
    border-radius: 0;
    flex-grow: 1;
    padding: 0.5rem 0;
    font-size: 1.15rem;

    &:focus {
      border-color: $primaryColor;
    }
  }
}
