@import '../../../assets/sass/modules/_colors.scss';

.finished {
  h2 {
    font-weight: 500;
  }
  .task__content {
    color: $lightGray-2;
    text-decoration: line-through;
    cursor: default;
    font-weight: 500;
  }

  .task__checkbox {
    position: relative;
    padding-top: 3px;
  }
}
